<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
    <title>output AV1</title>
 
</head>
<body>
  <main style="margin: 1em;" id="outputav1">
    <h1 style="text-align: center;">KUESIONER AUTOPSI VERBAL 1 UNTUK KEMATIAN UMUR 0 - 28 HARI</h1>
    <h2 style="text-align: center;">PUSTLIBANG HUMANORIA DAN MANAJEMEN KESEHATAN</h2>
    <% result.forEach(function(thing){ %>
      <h3>1. KUNJUNGAN WAWANCARA</h3>
      <H4>1.1 KETERANGAN KUNJUNGAN</H4>
      <ol>
        <li>TANGGAL           : <%= thing.tanggal %></li>
        <li>NAMA PEWAWANCARA  : <%= thing.nama_pewawancara %></li>
        <li>HASIL KUNJUNGAN   : <%= thing.hasil_kunjungan %></li>
      </ol>
      <p><%= thing.provinsi %></p>
      <p><%= thing.kabupaten %></p>
      <p><%= thing.kecamatan %></p>
      <p><%= thing.puskesmas %></p>
      <p><%= thing.kelurahan %></p>
      <p><%= thing.nomor_kasus_kematian %></p>
      <p><%= thing.nama_pengawas %></p>
      <p><%= thing.tanggal_pengawasan %></p>
      <p><%= thing.editor %></p>
      <p><%= thing.kode_pengentri %></p>
      <p><%= thing.nama_responden %></p>
      <p><%= thing.nama_almarhum %></p>
      <p><%= thing.nik_almarhum %></p>
      <p><%= thing.jenis_kelamin_almarhum %></p>
      <p><%= thing.tanggal_lahir_almarhum %></p>
      <p><%= thing.tanggal_meninggal_almarhum %></p>
      
    <% }) %>
    
  </main>
  <button id="download">download</button>
  <script src="../public/bundle.js"></script>
</body>
</html>